<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 offset-3 float-md-center">

    <div class="panel-body inf-content">
        <div class="row">
           
            <div class="col-md-6">
                <strong>Information</strong><br>
                <div class="table-responsive">
                <table class="table table-user-information">
                    <tbody>
                        <tr>        
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-asterisk text-primary"></span>
                                    Name                                               
                                </strong>
                            </td>
                            <td class="text-primary">
                              Test    
                            </td>
                        </tr>
                        <tr>    
                            <td>
                                <strong>  
                                    Last name                                               
                                </strong>
                            </td>
                            <td class="text-primary">
                                Test     
                            </td>
                        </tr>
                        <tr>        
                            <td>
                                <strong> 
                                    Date of birth                                              
                                </strong>
                            </td>
                            <td class="text-primary">
                                01-01-2002 
                            </td>
                        </tr>     
                        <tr>        
                            <td>
                                <strong> 
                                    Infected                                              
                                </strong>
                            </td>
                            <td class="text-primary">
                                No
                            </td>
                        </tr>                                
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
    </div>                                        